<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.dao.CollectMapper">

    <insert id="addCollect">
        insert into music_collect(id,user_id,sheet_id)
        select null,(select id from music_user ORDER BY id desc LIMIT 0,1),(select id from music_sheet ORDER BY id desc LIMIT 0,1)
    </insert>

    <delete id="delCollectByuserId" parameterType="Integer" >
        delete from music_collect where user_id= #{user_id}
    </delete>

    <delete id="modifyCollectBysheetId" parameterType="Integer">
        update music_collect set sheet_id=null where sheet_id= #{sheet_id}
    </delete>

</mapper>